---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '$lib/layouts/Layout.astro';
import Clock from '$lib/icons/clock.svelte';
import Warn from '$lib/icons/warn.svelte';
import Close from '$lib/icons/close.svelte';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout description="" pageTitle={post.data.title} image={`https://www.arithefirst.com/og_image/${post.id}.png`}>
  {
    () =>
      post.data.wip ? (
        <div class="bg-yellow flex w-full items-center justify-between p-4 text-base" id="work-in-progress-header">
          <div class="flex items-center gap-2">
            <Warn />
            <p>This post is a work in progess. Expect things to change.</p>
          </div>
          <button
            aria-label="close 'work in progress' header"
            onclick="document.getElementById('work-in-progress-header').remove()"
            class="cursor-pointer"
          >
            <Close size={24} />
          </button>
        </div>
      ) : undefined
  }
  <div class="w-full p-8">
    <h1 class="mb-1 text-4xl font-bold">{post.data.title}</h1>
    <h2 class="w-1/2 text-lg">
      By
      <span class="font-bold">{post.data.author}</span>
      <span class="text-subtext-0">
        - {post.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}</span
      >
    </h2>
    <h2 class="text-subtext-0 flex w-1/2 items-center gap-1">
      <Clock size="16px" />{remarkPluginFrontmatter.minutesRead}
    </h2>
    <article class="lg:prose-lg prose-h2:text-2xl prose prose-pre:border-2 prose-pre:border-border md:w-2/3">
      <Content />
    </article>
  </div>
</Layout>
