---
import { Button } from '$lib/components/ui/button';
import Clock from '$lib/icons/clock.svelte';
import Layout from '$lib/layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
import Head from '$lib/layouts/Head.astro';
import Transition from '$lib/components/Transition.svelte';

const posts = await getCollection('posts');

// Sort the posts by date before rendering them
posts.sort((a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.date.getTime() - a.data.date.getTime());
---

<Head description="April Hall's Blog Posts" pageTitle="Blog">
  <link
    rel="alternate"
    type="application/rss+xml"
    title="April Hall's Blog Posts"
    href={new URL('/posts/rss.xml', Astro.site)}
  />
</Head>

<Layout excludeHead>
  <div class="w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Blog Posts</h1>
    <div class="@container flex flex-col gap-4">
      {
        posts.map(async (post, i) => {
          const { remarkPluginFrontmatter } = await render(post);

          return (
            <Transition delay={i * 100} class="bg-mantle w-full rounded-xl p-4 @5xl:w-1/2" client:load>
              <h1 class="text-2xl font-bold">{post.data.title}</h1>
              <h2 class="w-full md:w-1/2">
                By
                <span class="font-bold">{post.data.author}</span>
                <span class="text-subtext-0">
                  - {post.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}
                </span>
              </h2>
              <h2 class="text-subtext-0 flex w-1/2 items-center gap-1">
                <Clock size="16px" />
                {remarkPluginFrontmatter.minutesRead}
              </h2>
              <p class="my-4">{post.data.description}</p>
              <Button href={`/posts/${post.id}`}>Read More</Button>
            </Transition>
          );
        })
      }
    </div>
  </div>
</Layout>
