---
const {
  pageTitle,
  description = "April Hall's Personal Portfolio",
  image = '/images/teto.webp',
}: { pageTitle?: string; description?: string; image?: string } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import SpeedInsights from '@vercel/speed-insights/astro';
---

<!-- 
  Portfolio V2 - A minimalistic Catppuccin developer portfolio
  https://github.com/arithefirst/portfolio-v2
  Copyright (C) 2025 April Hall (arithefirst)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>. 
-->
<head>
  <!-- Meta/OpenGraph/SEO Tags -->
  <title>{`arithefirst ${pageTitle ? ` | ${pageTitle}` : ''}`}</title>
  {description ? <meta name="description" content={description} /> : ''}
  <meta itemprop="name" content={`arithefirst ${pageTitle ? `| ${pageTitle}` : ''}`} />
  {description ? <meta itemprop="description" content={description} /> : ''}
  <meta itemprop="image" content={image} />
  <meta property="og:url" content={`https://www.arithefirst.com${Astro.url.pathname}`} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={`arithefirst ${pageTitle ? ` | ${pageTitle}` : ''}`} />
  {description ? <meta property="og:description" content={description} /> : ''}
  <meta property="og:image" content={image} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={`arithefirst ${pageTitle ? ` | ${pageTitle}` : ''}`} />
  {description ? <meta name="twitter:description" content={description} /> : ''}
  <meta name="twitter:image" content={image} />

  <!-- Other -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="darkreader-lock" />
  <link rel="icon" type="image/svg+xml" href="/images/teto-rounded.webp" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <ClientRouter />
  <slot />
</head>
<SpeedInsights />
